.tprincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: black;*/
    background: rgba(0, 3, 0, 0.7) ;
    color: rgb(100, 156, 15);
    
    top: 0;
    width: 100%;
    position: fixed;
    padding: 0px 15px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tprincipal h1{
    width: 30%;
    
}
.tprincipal h1 a{
    text-decoration: none;
    color: rgb(100, 156, 15);
}

.tprincipal .lista {
    font-size: 18px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;

}
.lista li a{
    text-decoration: none;
    
    color: azure;
}
.lista li a:hover{
    color: rgb(100, 156, 15);
    
}

.ventanas {
    padding-top: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.descripcion button{
    padding: 8px 20px;
}